@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

@font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Semibold.ttf");
}

@font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Semibold.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


.blog-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
}

.banner {
    width: 100%;
    background-color: #002099;
    padding: 100px 65px;
    color: #fff;
    margin-bottom: 50px;
}

.banner h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.banner h3 {
    font-size: 40px;
    padding: 10px 0;
    font-weight: 500;
}


.newsfeed {
    margin-bottom: 30px;
}

.feed {
    width: 100%;
    display: flex;
    flex-direction: row;
   
    margin-bottom: 70px;
    
}

.next1 {
    width: 40%;
    margin-right: 167px;
}

.next2 {
    
    width: 45%;
    
    
}

.next .para {
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 20px;
}



.next .butt {
    width: 170px;
    font-size: 16px;
    background-color: #1178FF;
    margin-top: 0px;
    padding : 10px 5px;
    border-radius: 4px;
}



