@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

@font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Semibold.ttf");
}

@font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Semibold.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.faq-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
}

.banner {
    width: 100%;
    background-color: #002099;
    padding: 100px 65px;
    color: #fff;
    margin-bottom: 50px;
}

.banner h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.banner h3 {
    font-size: 40px;
    padding: 10px 0;
    font-weight: 500;
    font-family: 'Mulish';
}



.faq-two-grand{
    margin-top: 50px;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-two-parent{
    width: 90%;
}
.faq-two{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.faq-two-sub{
    width: 48%;
    height: 120px;
}
.f-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}
.f-one-sub{
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    visibility: visible;
}
@media screen and (max-width: 500px) {
    .faq-two{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .faq-two-sub{
        width: 100%;
        font-size: 13px;
    }
}



.latest {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #212529;
    margin: 20px 0;
}

.latest span {
    width: 70px;
    height: 2px;
    background-color: #212529;;
}

.newsfeed {
    margin-bottom: 30px;
}

.feed {
    width: 100%;
    display: flex;
    flex-direction: row;
    
    margin-bottom: 70px;
    
}

.next1 {
   
    
    width: 40%;
    margin-right: 167px;
}

.next2 {
   
    
    width: 40%;
    /* margin-right: 30px; */
}

.next .para {
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 20px;
}



.next .butt {
    width: 170px;
    font-size: 16px;
    background-color: #1178FF;
    margin-top: 0px;
    padding : 10px 5px;
    border-radius: 4px;
}

@media screen and (max-width: 1030px){
   
    .next .buk {
        width: 350px;
    }

}    

@media screen and (max-width: 960px){
   
    .next .buk {
        width: 300px;
    }

}   

@media screen and (max-width: 910px){
    .next .buk {
        width: 250px;
    }
   
    .next1 {
   
    
        width: 30%;
        
    }
    
    .next2 {
       
        
        width: 30%;
       
    }

}    

@media screen and (max-width: 750px){
    .next .buk {
        width: 200px;
    }

}    

@media screen and (max-width: 712px){
    .faq-two-sub{
        width: 50%;
        height: 120px;
        margin-right: 10px;
        font-size: 14px;
        
    }

    .faq-two-parent{
        width: 100%;
    }

}    

@media screen and (max-width: 650px) {
    
   
  .feed  .next1 {
   
    
        width: 80%;
        margin-right: 70px;
    }
    
   .feed .next2 {
       
       
        width: 80%;
      
    }
}

@media screen and (max-width: 616px){
    .faq-two-sub{
        width: 50%;
        height: 120px;
        margin-right: 10px;
        font-size: 12px;
        
    }

    .faq-two-parent{
        width: 100%;
        
    }

}    


@media screen and (max-width: 555px) {
    .latest {
    
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        color: #212529;
        margin: 20px 0;
    }
    
   
    .feed  .next1 {
     
      
          width: 80%;
          margin-right: 30px;
      }
      
     .feed .next2 {
         
          
          width: 80%;
          
      }
  }

  @media screen and (max-width: 523px) {
    .feed {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        margin-bottom: 70px;
        
    }
    
   
    .feed  .next1 {
     
     
          width: 150%;
          margin-right: 30px;
      }
      
     .feed .next2 {
         
         
          width: 150%;
         
      }

      .faq-container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }

    .faq-two{
        background-color: #1178FF;
        width:  450%;
        
    }

  }

  @media screen and (max-width: 507px) {
    .banner .thre {
        font-size: 15px; 
    }
    .banner .three {
        font-size: 30px; 
    }
    .banner p {
        font-size: 13px; 
    }
    .faq-two{
        width: 150%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .latest {
        font-size: 14px;
        
    }

    .feed {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        margin-bottom: 70px;
        
    }
    
   
    .feed  .next1 {
     
          width: 80%;
          margin-right: 30px;
      }
      
     .feed .next2 {
         
          width: 80%;
          /* margin-right: 30px; */
      }
  }
@media screen and (max-width: 490px) {
    

 .newsfeed .feed {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-bottom: 70px;
        
    }
   
    .feed  .next1 {
          width: 100%;
          margin-bottom: 30px;
      }
      
     .feed .next2 {
        width: 100%;      
      }

.next .buk {
        width: 100%;      
      }
  }


  @media screen and (max-width: 414px) {
    .faq-two{
        width: 170%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }



    .latest {
    
        
        font-size: 13px;
        
    }

    
  }

  @media screen and (max-width: 395px) {
    
    .latest {
        font-size: 11px;  
    }

    
  }

  @media screen and (max-width: 370px) {
    
    .banner .thre {
        font-size: 13px; 
    }
    .banner .three {
        font-size: 27px; 
    }
    .banner p {
        font-size: 11px; 
    }
    .faq-two{
        width: 170%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .latest {
        font-size: 10px;
        
    }

    .feed {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        margin-bottom: 70px;
        
    }
    
   
    .feed  .next1 {
     
          width: 90%;
          margin-right: 30px;
      }
      
     .feed .next2 {
         
          width: 90%;
          /* margin-right: 30px; */
      }    
  }

  @media screen and (max-width: 340px) {
    
    .banner .thre {
        font-size: 12px; 
    }
    .banner .three {
        font-size: 25px; 
    }
    .banner p {
        font-size: 7px; 
    }
    .faq-two{
        width: 190%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .latest {
        font-size: 8px;
        
    }

    .feed {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        margin-bottom: 70px;
        
    }
    
   
    .feed  .next1 {
     
          width: 90%;
          margin-right: 30px;
      }
      
     .feed .next2 {
         
          width: 90%;
          /* margin-right: 30px; */
      }    

      .next .butt {
        width: 130px;
        font-size: 14px;
        background-color: #ff1131;
        margin-top: 0px;
        padding : 10px 5px;
        border-radius: 4px;
    }
  }
