@font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Variable.ttf");
  }
  @font-face {
    font-family: 'Clash Display Variable';
    src: url("./ClashDisplay-Semibold.otf");
  }

.faq-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
    
}

.banner {
    width: 100%;
    background-color: #002099;
    padding: 100px 65px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 10px;
}

.banner h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.banner h3 {
    font-size: 40px;
    padding: 10px 0;
    font-weight: 500;
    font-family: 'Mulish';
}



.faq-two-grand{
    margin-top: 50px;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-two-parent{
    width: 100%;
}
.faq-two{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.faq-two-sub{
    width: 48%;
    height: 120px;
    margin-bottom: 20px;
}
.f-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}
.f-one-sub{
    display: flex;
    align-items: center;
    height: 100px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    visibility: visible;
    background-color:  #f7f7f76b;
}



.latest {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #212529;
    margin: 20px 0;
}

.latest span {
    width: 70px;
    height: 2px;
    background-color: #212529;;
}

.newsfeed {
    margin-bottom: 30px;
}

.feed {
    width: 100%;
    display: flex;
    flex-direction: row;
    
    margin-bottom: 70px;
    
}

.next1 {
   
    
    width: 40%;
    margin-right: 167px;
}

.next2 {
   
    
    width: 40%; 
    margin-left: 77px;
}


.next .para {
    width: 441px;
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 20px;
}



.next .butt {
    width: 170px;
    font-size: 16px;
    background-color: #1178FF;
    margin-top: 0px;
    padding : 10px 5px;
    border-radius: 4px;
}

@media screen and (max-width: 1030px){
   
    .faq-container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
   
  .feed  .next1 {
        width: 80%;
        margin-right: 70px;
    }
    
   .feed .next2 {
        width: 80%;
    }

    .next1 .buk {
        width: 447px;
    }

    .next2 .buk {
        width: 447px;
       }

       .next h3 {
        margin-top: 20px;
        margin-bottom: -15px;
       }

}  

@media screen and (max-width: 1015px){

    .next1 .buk {
        width: 437px;
    }

    .next2 .buk {
        width: 437px;
       }

       .next h3 {
        margin-top: 20px;
        margin-bottom: -15px;
       }

}  

@media screen and (max-width: 978px){

    .next1 .buk {
        width: 427px;
    }

    .next2 .buk {
        width: 427px;
       }

       .next h3 {
        margin-top: 20px;
        margin-bottom: -15px;
       }

}  

@media screen and (max-width: 962px){
   
    .next1 .buk {
        width: 407px;
    }

    .next2 .buk {
        width: 407px;
       }

       .next h3 {
        margin-top: 20px;
        margin-bottom: -15px;
       }

} 

@media screen and (max-width: 937px){
   
    .next1 .buk {
        width: 400px;
    }

    .next2 .buk {
        width: 400px;
       }

} 

@media screen and (max-width: 922px){
   
    .next1 .buk {
        width: 397px;
    }

    .next2 .buk {
        width: 397px;
       }



       .next h3 {
        margin-top: 20px;
        margin-bottom: -15px;
       }

} 

@media screen and (max-width: 902px){
   
    .next1 .buk {
        width: 380px;
    }

    .next2 .buk {
        width: 380px;
       }



} 



@media screen and (max-width: 875px){
   
    .next1 .buk {
        width: 367px;
    }

    .next2 .buk {
        width: 367px;
        
       }

}  

@media screen and (max-width: 860px){
   
    .next1 .buk {
        width: 357px;
    }

    .next2 .buk {
        width: 357px;
        
       }

}  

@media screen and (max-width: 832px){
   
    .next1 .buk {
        width: 347px;
    }

    .next2 .buk {
        width: 347px;
        
       }

} 

@media screen and (max-width: 815px){
   
    .next1 .buk {
        width: 327px;
    }

    .next2 .buk {
        width: 327px;
        
       }

}  

@media screen and (max-width: 772px){
   
    .next1 .buk {
        width: 317px;
    }

    .next2 .buk {
        width: 317px;
        
       }

}  



@media screen and (max-width: 750px){
    .blog-container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
   
  .feed  .next1 {
        width: 80%;
        margin-right: 70px;
    }
    
   .feed .next2 {
        width: 80%;
    }

    .next1 .buk {
        width: 300px;
    }

    .next2 .buk {
        width: 300px;
       }

       .next h3 {
        margin-top: 20px;
        margin-bottom: -15px;
       }


}    

@media screen and (max-width: 723px){
   
    .next1 .buk {
        width: 290px;
    }

    .next2 .buk {
        width: 290px;
        
       }

}  

@media screen and (max-width: 701px){
   
    .next1 .buk {
        width: 270px;
    }

    .next2 .buk {
        width: 270px;
        
       }

}  

@media screen and (max-width: 650px) {
    
    .faq-container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
   
  .feed  .next1 {
        width: 80%;
        margin-right: 70px;
    }
    
   .feed .next2 {
        width: 80%;
    }

    .next1 .buk {
        width: 250px;
    }

    .next2 .buk {
        width: 250px;
       }

       .next h3 {
        margin-top: 20px;
        margin-bottom: -15px;
       }



}

@media screen and (max-width: 619px){

    .faq-two{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .faq-two-sub{
        width: 100%;
        font-size: 13px;
    }
   
    .next1 .buk {
        width: 240px;
    }

    .next2 .buk {
        width: 240px;
        
       }

}  

@media screen and (max-width: 602px){
   
    .next1 .buk {
        width: 230px;
    }

    .next2 .buk {
        width: 230px;
        
       }

}  

@media screen and (max-width: 581px){
   
    .next1 .buk {
        width: 220px;
    }

    .next2 .buk {
        width: 220px;
        
       }

}  

@media screen and (max-width: 555px) {
    .latest {
    
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        color: #212529;
        margin: 20px 0;
    }
    
   
    .feed  .next1 {
     
      
          width: 80%;
          margin-right: 30px;
      }
      
     .feed .next2 {
         
          
          width: 80%;
          
      }
  }

  @media screen and (max-width: 523px){
   
    .next1 .buk {
        width: 205px;
    }

    .next2 .buk {
        width: 205px;
        
       }

}  

  @media screen and (max-width: 507px) {
    
    .next1 .buk {
        width: 195px;
       
    }

    .next2 .buk {
        width: 195px;
        
       }
  }
@media screen and (max-width: 490px) {
    
    .feed  .next1 {
          width: 100%;
          margin-bottom: 30px;
      }

     
      
     .feed .next2 {
        width: 100%;      
      }

   .next .buk {
        width: 100%;      
      }
  }


  @media screen and (max-width: 414px) {  
    .feed  .next1 {
        width: 100%;
        margin-bottom: 30px;
    }

   
    
   .feed .next2 {
      width: 100%;      
    }

 .next .buk {
      width: 100%;  
      
    }
    
  }

  @media screen and (max-width: 409px) { 


    .newsfeed .feed  .next1 {
        width: 45%;
        margin-bottom: 30px;
    }

    .newsfeed .feed  .next h3 {
        font-size: 13px;
        font-weight: 800;
    }

    .newsfeed .feed  .next p {
        font-size: 13px;
    }
    
   .newsfeed .feed .next2 {
      width: 45%;      
    }

  .newsfeed .next .buk {
      width: 150px;  
     
    }

    .newsfeed .next .butt {
        width: 110px;  
        font-size: 10px;
       
      }
    
  }

  @media screen and (max-width: 348px) {
    
    .banner .thre {
        font-size: 12px; 
    }
    .banner .three {
        font-size: 25px; 
    }
    .banner p {
        font-size: 11px; 
    }
    
    .latest {
        font-size: 8px;
        
    }

    .newsfeed .feed  .next1 {
        width: 45%;
        margin-bottom: 30px;
    }

    .newsfeed .feed  .next h3 {
        font-size: 13px;
        font-weight: 800;
    }

    .newsfeed .feed  .next p {
        font-size: 13px;
    }
    
   .newsfeed .feed .next2 {
      width: 45%;      
    }

  .newsfeed .next .buk {
      width: 140px;  
     
    }

    .newsfeed .next .butt {
        width: 110px;  
        font-size: 10px;
       
      }
  }

  @media screen and (max-width: 348px) {
    
    .banner .thre {
        font-size: 12px; 
    }
    .banner .three {
        font-size: 25px; 
    }
    .banner p {
        font-size: 11px; 
    }
    
    .latest {
        font-size: 8px;
        
    }

    .newsfeed .feed  .next1 {
        width: 45%;
        margin-bottom: 30px;
    }

    .newsfeed .feed  .next h3 {
        font-size: 13px;
        font-weight: 800;
    }

    .newsfeed .feed  .next p {
        font-size: 13px;
    }
    
   .newsfeed .feed .next2 {
      width: 45%;      
    }

  .newsfeed .next .buk {
      width: 120px;  
     
    }

    .newsfeed .next .butt {
        width: 110px;  
        font-size: 10px;
       
      }
  }

  @media screen and (max-width: 300px) {
    
    .banner .thre {
        font-size: 12px; 
    }
    .banner .three {
        font-size: 25px; 
    }
    .banner p {
        font-size: 11px; 
    }

    .f-one p {  
        font-size: 11px;
    }

    .f-one-sub p {  
        
        font-size: 11px;
    }
    
    .latest h2 {
        font-size: 17px;
        
    }


   .newsfeed .feed {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        margin-bottom: 70px;
        
    }

    .newsfeed .feed  .next1 {
        width: 85%;
        margin-bottom: 30px;
    }

    .newsfeed .feed  .next h3 {
        font-size: 13px;
        font-weight: 800;
    }

    .newsfeed .feed  .next p {
        font-size: 13px;
    }
    
   .newsfeed .feed .next2 {
      width: 85%;      
    }

  .newsfeed .next .buk {
      width: 230px;  
     
    }

    .newsfeed .next .butt {
        width: 110px;  
        font-size: 10px;
       
      }
  }

  @media screen and (max-width: 252px) {
    
    .banner .thre {
        font-size: 12px; 
    }
    .banner .three {
        font-size: 20px; 
    }
    .banner p {
        font-size: 8px; 
    }

    .f-one p {  
        font-size: 10px;
    }

    .f-one-sub p {  
        
        font-size: 10px;
    }
    
    .latest h2 {
        font-size: 15px;
        
    }

    .newsfeed .feed {
        width: 109%;
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        
    }

    .newsfeed .feed  .next1 {
        width: 100%;
        margin-bottom: 30px;
    }

    .newsfeed .feed  .next h3 {
        font-size: 13px;
        font-weight: 800;
    }

    .newsfeed .feed  .next p {
        font-size: 13px;
    }
    
   .newsfeed .feed .next2 {
      width: 100%;      
    }

  .newsfeed .next .buk {
      width: 190px;  
     
    }

    .newsfeed .next .butt {
        width: 110px;  
        font-size: 10px;
       
      }
  }

  