.signin-container {
    width: 100%;
    min-height: 100vh;
    padding: 20px 40px;
}

.loginH {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginH .let {
    width: 20%;
    margin-left: -20px;
    
}

.loginH p {
    width: 80%;
    margin-right: 30px;
    text-align: end;
}

.loginH p .here {
    color: #1178FF;
}

.loginM {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loginM h1 {
    width: 40%;
    margin-top: -400px;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
    color: #00070f;
}

.loginF {
    width: 60%;  
    margin-top: 150px;
    margin-right: 150px;
    
}

.far input { 
    width: 315px;
    height: 45px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
   
    padding-left: 10px;
    
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    padding: 1px 2px;
   
}

.userL {
    color: #00070f;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: -15px;
}

.passL {
    color: #00070f;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.p-box {
   
    position: relative;
    }

.p-box span {
position: absolute;
top: 36px;
left: 290px;

}

.forgot {
    width: 315px;
    text-align: right;
    
    margin-top: -15px;

}

.forgot a {
   text-decoration: underline;
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   color:  #1178FF;;
}

.buttonB {
    width: 315px;
    height: 45px;
    background-color: #1178FF;
    border-radius: 4px;
}

.p-box span {
position: absolute;
top: 36px;
right: 110px;
}

.forgot {
    text-align: end;
    margin-top: -15px;

}

.login-foot {
    width: 415px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: -40px;
}

@media only screen and (max-width: 860px) {
    .loginF {
        width: 60%;  
        margin-top: 150px;
        margin-right: 50px;
    }
    
}

@media only screen and (max-width: 781px) {
    .loginF {
        width: 60%;  
        margin-top: 150px;
        margin-right: 50px;
    }
    
}

@media only screen and (max-width: 781px) {
    .loginF {
        width: 60%;  
        margin-top: 150px;
        margin-right: 20px;
    }
    
}

@media only screen and (max-width: 700px) {
    .loginF {
        width: 60%;  
        margin-top: 150px;
        margin-right: 0px;
    }
    
}

@media only screen and (max-width: 677px) {
    
    .loginM {
        flex-direction: column;
    }

    .loginM h1 {
        width: 40%;
        margin-top: 30px;
       
    }
    
    .loginF {
        width: 60%;  
        margin-top: 50px;
        margin-right: 0px;
        
    }
    
}

@media only screen and (max-width: 563px) {
    
    .loginH p {
        width: 80%;
        margin-right: 5px;
        text-align: end;
    }

    .loginM h1 {
        width: 60%;
        margin-top: 30px;
       
    }
    
    .loginF {
        width: 60%;  
        margin-top: 50px;
        margin-right: 0px;
        
    }
    
}

@media only screen and (max-width: 516px) {
    .loginH {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .loginH .let {
        width: 80%;
        margin-left: 20px;
        text-align: left;
    }
    
    .loginH p {
        width: 80%;
        margin-right: 1px;
        text-align: left;
    }


    .loginM h1 {
        width: 60%;
        margin-top: 30px;
        text-align: left;
       
    }
    
    .loginF {
        width: 100%;  
        margin-top: 50px;
    }

    .login-foot {
        width: 395px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: -40px;
    }
    
    
}

@media only screen and (max-width: 433px) {
    .loginH {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .loginH .let {
        width: 80%;
        margin-left: 50px;
        text-align: left;
    }
    
    .loginH p {
        width: 80%;
        /* margin-right: 1px; */
        margin-left: 50px;
        text-align: left;
    }


    .loginM h1 {
       
        width: 90%;
        margin-top: 30px;
        text-align: center;
       
    }
    
    .loginF {
        width: 80%;  
        margin-top: 50px;
        margin-right: 70px;
    }

    .far input { 
        width: 250px;
        height: 45px;
    }

    .p-box span {
        position: absolute;
        top: 36px;
        left: 230px;
    
        }
        
        .forgot {
            width: 250px;
            text-align: right;
            margin-top: -15px;
        
        }

    
    .buttonB {
        width: 250px;
        height: 45px;
        background-color: #1178FF;
        border-radius: 4px;
    }
    
    .login-foot {
        width: 320px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: -30px;
    }
    
    
}

@media only screen and (max-width: 380px) {
    

   
    .login-foot {
        width: 290px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: -30px;
    }
    
    
}

@media only screen and (max-width: 350px) {
    .loginH {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .loginH .let {
        width: 80%;
        margin-left: 20px;
        text-align: left;
    }
    
    .loginH p {
        width: 100%;
        margin-left: 10px;
        text-align: left;
    }


    .loginM h1 {
       
        width: 90%;
        margin-top: 30px;
        text-align: center;
       
    }
    
    .loginF {
        width: 80%;  
        margin-top: 50px;
        margin-right: 90px;
    }

    .far input { 
        width: 200px;
        height: 45px;
    }

    .p-box span {
        position: absolute;
        top: 36px;
        left: 175px;
    
        }
        
        .forgot {
            width: 200px;
            text-align: right;
            margin-top: -15px;
        
        }

    
    .buttonB {
        width: 200px;
        height: 45px;
        background-color: #1178FF;
        border-radius: 4px;
    }
    
    .login-foot {
        width: 250px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: -20px;
    }
    
    
}

@media only screen and (max-width: 303px) {
    .loginH {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .loginH .let {
        width: 80%;
        margin-left: 0px;
        text-align: left;
    }
    
    .loginH p {
        width: 110%;
        margin-left: 10px;
        text-align: left;
        font-size: 14px;
    }


    .loginM h1 {
       
        width: 100%;
        margin-top: 30px;
        text-align: center;
       
    }
    
    .loginF {
        width: 80%;  
        margin-top: 50px;
        margin-right: 90px;
    }

    .far input { 
        width: 200px;
        height: 45px;
    }

    .p-box span {
        position: absolute;
        top: 36px;
        left: 175px;
    
        }
        
        .forgot {
            width: 200px;
            text-align: right;
            margin-top: -15px;
        
        }

    
    .buttonB {
        width: 200px;
        height: 45px;
        background-color: #1178FF;
        border-radius: 4px;
    }
    
    .login-foot {
        width: 225px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: -15px;
    }
    
    
}

@media only screen and (max-width: 284px) {
    .loginH {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .loginH .let {
        width: 80%;
        margin-left: -20px;
        text-align: left;
    }
    
    .loginH p {
        width: 110%;
        margin-left: 15px;
        text-align: left;
        font-size: 12px;
    }


    .loginM h1 {
       
        width: 100%;
        margin-top: 30px;
        text-align: center;
        font-size: 30px;
       
    }
    
    .loginF {
        width: 80%;  
        margin-top: 50px;
        margin-right: 90px;
    }

    .far input { 
        width: 170px;
        height: 45px;
    }

    .p-box span {
        position: absolute;
        top: 36px;
        left: 145px;
    
        }
        
        .forgot {
            width: 167px;
            text-align: right;
            margin-top: -15px;
        
        }

    
    .buttonB {
        width: 170px;
        height: 45px;
        background-color: #1178FF;
        border-radius: 4px;
    }
    
    .login-foot {
        width: 195px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: -15px;
    }
    
    
}

@media only screen and (max-width: 284px) {
    .loginH {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .loginH .let {
        width: 50%;
        margin-right: 80px;
        text-align: left;
    }
    
    .loginH p {
        width: 110%;
        margin-left: 15px;
        text-align: left;
        font-size: 12px;
    }


    .loginM h1 {
       
        width: 100%;
        margin-top: 30px;
        text-align: center;
        font-size: 30px;
       
    }
    
    .loginF {
        width: 80%;  
        margin-top: 50px;
        margin-right: 30px;
    }

    .far input { 
        width: 150px;
        height: 45px;
    }

    .p-box span {
        position: absolute;
        top: 36px;
        left: 130px;
    
        }
        
        .forgot {
            width: 149px;
            text-align: right;
            margin-top: -15px;
        
        }

    
    .buttonB {
        width: 147px;
        height: 45px;
        background-color: #1178FF;
        border-radius: 4px;
    }
    
    .login-foot {
        width: 195px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: -15px;
    }
    
    
}